# Build
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
*.class
*.log
*.keystore
*.jks

# Android
/google-services.json

# IDE
.idea/
*.iml
.navigation/
captures/
output.json

# Gradle
.gradle/
build/

# Signing
*.keystore
!debug.keystore
